#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.appCont {
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: rgba(12, 12, 12, 0.7); 
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(114, 45, 45, 0.15);
  overflow-y: hidden;
}


.textsh {
  text-shadow: 2px 2px 5px rgba(139, 9, 9, 0.3);
  color: #ED3500;
  text-align: center;
  margin-top: 0;
  padding-top: 8px;
  font-style: italic;
}

.textsh:hover {
  text-decoration: underline;
  color: #0ee7ad;
  cursor: pointer;
}

@media (max-width: 768px) {
  .appCont {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
  }
}
