@tailwind base;
    @tailwind components;
    @tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('public/alex-bayev-7yWO3FNRkKA-unsplash.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

#root {
  height: 100%;
}
